html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Martel', serif;



}




.main {
    height: 100%;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(rgba(10, 10, 10, 0.829), rgba(0, 0, 0, 0.426)), url('../../assets/warcraftWallpaper.jpg');
    background-size: cover;  /* This makes sure it covers the div */
    background-position: center center;  /* Centers the image */
    background-attachment: fixed;  /* Keeps the image fixed on scroll */
    background-repeat: no-repeat;  /* Ensures the image doesn't repeat */
}



.title{
    max-width: 100%;
    background: rgb(0, 33, 65);
    color: white;
    opacity: 0.8;
    margin-top: 17px;
    height: fit-content;

}
.title h1{
    margin: 0px;
    padding: 0px;
    text-align: center;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: 200;


}
.team-info{
    display: flex;
    justify-content: space-around;
    height: fit-content;
    padding: 10px;
    


    
}
.pic {
    width: 200px;
    height: 200px;
    border-radius: 15px;
    overflow: hidden; 
    /* position: relative;  */
}

.pic img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s; 
}

.pic:hover img { 
    transform: scale(1.1);
    filter: brightness(1.3);
}


.pf-pics {
    display: flex;
    flex-wrap: wrap;
    width: 600px; /* adjust this to account for the gap */
    gap: 20px; /* gap between images */
    justify-content: center;
    

}
.team-description{
    width: 100vh;
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.reviews{
    width: 100%;
    display: flex;
    height: max-content;
    justify-content: space-around;
    margin-top: 15px;
    gap: 10px;



}
.rev{
    border: 4px solid  rgb(0, 33, 65);
    height: fit-content;
    padding: 10px;
    width: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background: rgb(0, 33, 65);
    opacity: 0.8;
    color: white;

    



}
.rev:hover{
    transition: 0.3s;
    filter:brightness(1.4)
}

.rev h4{
    font-family: 'Martel', serif;
    font-weight: 200;
    padding: 20px;
}


.desc{
    width: 90vh;
    background: rgb(0, 33, 65);
    border-radius: 20px;
    opacity: 0.9;
    padding: 20px;
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 25px;
}
.desc h1,h3{
    font-family: 'Martel', serif;
    font-weight: 200;


    

}

.rev img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

@media screen and (max-width:1232px){
    .main {
        background-image: linear-gradient(rgba(10, 10, 10, 0.829), rgba(0, 0, 0, 0.426)), url('../../assets/warcraftWallpaper.jpg');
        display: flex;
        flex-direction: column;
    }
    .reviews {
        display: flex;
        flex-wrap: wrap;
    }
}
