
.wholeCard{
  width: 600px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  border-radius: 5px;

  background-color: rgb(23, 23, 22);
  gap: 10px;
  
}
.upperDiv{
  display: flex;
  gap: 10px;
}


@media screen and (max-width: 620px) {
  .wholeCard, .upperDiv, .lowerDiv {
      width: 90%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;

  }
  
  .cardDiv {
      margin: 5px auto; /* Centers the card and adds a little vertical space */
  }
  .wholeCard{
    padding: 10px;
    
  }
}
